.footer-main--block {
  background-color: var(--footer-contacts-background-color);
  display: flex;
  justify-content: center;
  padding: 15px;
}

.footer-all--blocks {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
}

.footer-list {
  list-style-type: none;
}

.ui-link {
  text-decoration: none;
  color: var(--text-dark-color);
}
.ui-link:hover {
  color: var(--ui-brand-color);
}

.social-icons-container {
  display: flex;
  flex-wrap: wrap;
}

.social-icons--list {
  display: flex;
  flex-wrap: wrap;
}

.social-icons--list {
  margin-right: 7.5px; 
  margin-left: 7.5px; 
  margin-bottom: 15px;
}

.social-icons__icon {
  width: 25px; 
  height: 25px; 
  /* padding: 15px; */
}

.instagram-pictures-picture {
  width: 75px; 
  height: 75px; 
  margin: 6px 6px 0 0 ;
}
.instagram-pictures--container {
  display: flex;
  flex-wrap: wrap;
  max-width: 248px;
}



.footer-copyrights--block {
  background-color: var(--footer-copyrights-background-color);
  display: flex;
  justify-content: center;
}

.footer-text--blocks {
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.w-text--block {
  font-size: small;
  padding: 15px;
  min-width: 230px;
  text-align: center;
}
