.header-all {
    display: flex;
    justify-content: center;
    background-color: var(--footer-copyrights-background-color);

}

@media (min-width: 1200px) {
    .horizontal-flow {
        min-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
}

@media (max-width: 1199px) {
    .horizontal-flow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
}


.w-section--header {
    display: flex;
    justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  /* padding-left: 180px;
  padding-right: 180px; */

}   

.nav__link {
  color: var(--text-bright-color);
  font-size: 14px;
  font-weight: 500;
}

.header__nav {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
}

.nav__item--header {
  text-decoration: none;
  list-style-type: none;
  color: var(--ui-brand-color);
  text-decoration: none;
  padding: 16px;
}

.nav__link {
  display: flex;
  color: var(--ui-brand-color);
  align-items: center;
  text-decoration: none;
}

.social-icons-container {
  display: flex;
}

.social-icons_list {
    display: flex;
}

.social-icons {
  text-decoration: none;
  list-style-type: none;
}

.social-icons__icon {
    display: flex;
  width: 26px;
  height: 26px;
  color: #c8693a;
}

.logo__img {
  width: 176px;
  height: auto;
}

.header__logo {
  padding: 10px;
}

/* .horizontal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 104px;
  /* тимчасовий фіксований розмір  */
} */
