.best-deals {
  padding-top: 90px;
  padding-bottom: 50px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  min-width: 320px;
}

.best-deals__information-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.best-deals__information-slogan {
  font-size: 34px;
  font-weight: 400;
  line-height: 44.2px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.best-deals__information-figure {
  width: 165px;
  height: auto;
  margin: auto;
}

.best-deals__information-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: var(--text-bright-color);
  margin-bottom: 25px;
}

.best-deals__carousel {
  display: grid;
  grid-template-columns: 12px 1fr 12px;
  max-width: 1230px;
  margin: 0 auto;
}

.best-deals__item {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.best-deals__item-picture {
  margin-bottom: 10px;
}

.best-deals__item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-bright-color);
  text-decoration: none;
}

.best-deals__item-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 24px;
}

.best-deals__item-button {
  font: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  color: var(--text-bright-color);
  background-color: var(--button-filled-color);
  border-radius: 2px;
  border-style: none;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
}

.best-deals__item-button:hover {
  background-color: var(--button-filled-color-hover);
  transition: 0.5s;
}

.best-deals__arrow-container {
  width: 12px;
  display: flex;
  align-items: center;
}

.best-deals__wines {
  display: flex;
  flex-direction: row;
}

.best-deals__arrow-left {
  fill: var(--text-bright-color);
  transform: rotateY(180deg);
}

.best-deals__arrow-right {
  fill: var(--text-bright-color);
}

.best-deals__item-pointers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.best-deals__item-pointer {
  font-size: 42px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
}
