.wine-selection {
    text-align: center;
}

.title-container h2 {
    font-size: 1.5em;
    color: var(--section-title-color); 
    margin-bottom: 0;
}

.wine-heading {
    font-size: 2em;
    margin: 0.5em 0;
}

.wine-description {
    margin-bottom: 2em;
    color: var(--text-bright-color); 
}

.wine-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 0;
    margin: 0 auto;
    flex-wrap: nowrap; 
}

.wine-item {
    padding: 1em;
    width: 300px; 
}

.wine-item img {
    width: 100%; 
    height: auto;
    margin-bottom: 1em;
}

.wine-item h3 {
    color: var(--text-bright-color); 
    margin: 0.5em 0;
}

.wine-item p {
    color: var(--button-blank-color);
    margin: 0.5em 0;
}

button {
    background-color: var(--button-filled-color); 
    border: none;
    padding: 15px 25px;
    color: var(--button-blank-color);
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px; 
}

button:hover {
    background-color: var(--button-filled-color); 
}