.background-wine-buying-guide {
    background-image: url("../images/index.wine-buying-guide/backround.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}

.content-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.wine-buying-guide_subtitle {
    color: white;
    text-align: center;
    font-size: 90px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.wine-buying-guide_title {
    font-size: 1.5em;
    color: var(--section-title-color);
    margin-bottom: 0;
    margin-top: 50px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--section-title-color);
}

.content img {
    width: 165px;
    height: auto;
    margin: auto;
}

.wine-buying-guide_text {
    font-weight: 400;
    line-height: 30.6px;
    color: var(--text-bright-color);
    margin-top: 20px;
    margin-bottom: 45px;
    margin-left: 12px;
    margin-right: 12px;
}

.info-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-2 {
    width: 140px;
    height: 50px;
    border: 2px solid var(--icon-color);
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 40px 50px;
}

.button-2 a {
    font-family: arial;
    font-size: 16px;
    color: var(--icon-color);
    text-decoration: none;
    line-height: 50px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
}

.eff-2 {
    width: 140px;
    height: 50px;
    top: -50px;
    background: var(--icon-color);
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
}

.button-2:hover .eff-2 {
    top: 0;
}

.button-2:hover a {
    color: #fff;
}

.button-3 {
    width: 140px;
    height: 50px;
    border: 2px solid #fff;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 0 40px 50px;
}

.button-3 a {
    font-family: arial;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    transition: all .5s ease;
    z-index: 2;
    position: relative;
}

.eff-3 {
    width: 140px;
    height: 50px;
    bottom: -50px;
    background: #fff;
    position: absolute;
    transition: all .5s ease;
    z-index: 1;
}

.button-3:hover .eff-3 {
    bottom: 0;
}

.button-3:hover a {
    color: var(--icon-color);
}