/* Блок 15 | Nataliia Zinchenko */

.awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
}

.awards__content {
  margin-left: 24px;
  margin-right: 24px;
}

.awards__table {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-content: center;
  padding: auto;
}

.awards__row {
  display: contents;
}

.awards__cell {
  padding-left: 15px;
  padding-right: 15px;
  align-self: flex-end;
  line-height: 30.6px;
  padding-top: 40px;
}

.awards__title {
  font-family: "Great Vibes", undefined;
  font-size: 28px;
  text-align: center;
  color: var(--ui-brand-color);
  padding: auto;
  font-weight: 400;
}

.awards__our__wines {
  font-family: Prata, sans-serif;
  font-size: 34px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: auto;
  font-weight: 400;
}

.awards__description {
  font-family: Prata, sans-serif;
  font-size: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: auto;
  font-weight: 400;
}

.awards__divider {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 200px;
  height: auto;
  margin: 0 auto 20px;
}

.awards__text {
  font-family: Rubik, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: auto;
  font-size: 18px;
}

.awards__logo {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin-top: 3rem;
}

.award__name {
  font-family: Rubik, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  padding: auto;
}

.award__year {
  font-family: Prata, serif;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  padding: auto;
}

.award__desc {
  font-family: Rubik, sans-serif;
  color: rgb(137, 128, 130);
  font-size: 16px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  line-height: 25.6px;
  height: auto;
  box-sizing: border-box;
  padding: auto;
}

@media (min-width: 768px) {
  .awards__table {
    display: grid;
    grid-template-columns: 1.5fr 1.6fr 1.5fr 4.8fr;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
  }

  .awards__cell {
    align-self: center;
    vertical-align: middle;
    margin-top: 30px;
    line-height: 30.6px;
  }

  .awards__content {
    margin-left: 32px;
    margin-right: 32px;
  }

  .awards__row {
    display: contents; /* the child elements would be grid items */
  }
  
  .awards__our__wines {
    font-size: 41px;
  }
}

@media (min-width: 992px) {
  .awards__content {
    margin-left: 40px;
    margin-right: 40px;
  }
    
  .awards__our__wines {
    font-size: 48px;
  }
}

@media (min-width: 1300px) {
  .awards {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
