.faq {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.faq__all {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}

.faq__title,
.faq__subtitle {
  font-weight: 400;
  font-style: normal;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
}

.faq__title {
  font-family: "Great Vibes", undefined;
  font-size: 21px;
  color: var(--section-title-color);
}

.faq__subtitle {
  font-family: "Prata", serif;
  font-size: 41px;
  color: var(--text-bright-color);
  margin-top: 20px;
}

.faq__image {
  position: relative;
  margin-top: 25px;
  padding-top: 13px;
  box-sizing: border-box;
  border-image-repeat: stretch;
  width: auto;
}

.faq__list {
  list-style-type: none;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

.faq__list li:last-child .dropdown {
  border-bottom: 0;
}

.acordion-menu li.active .dropdown {
  color: #fff;
}

.acordion-menu li.active .dropdown .fa-plus::before {
  content: "\f068";
}

.faq__questions {
  justify-content: center;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.faq__question {
  width: 100%;
  cursor: pointer;
  padding: 20px 0;
}

.faq__question-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Prata", serif;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease-out;
  border-bottom: 1px solid #898082;
}

.faq__question-title p {
  flex: 1;
}

.faq__question-title .fa-plus {
  margin-left: 20px;
}

.faq__question-answer {
  font-family: "Rubik", sans-serif;
  color: var(--text-dark-color);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  /*display: none;*/
}

.faq__list li.active .faq__question-answer {
  display: block;
}

.faq__picture {
  margin-top: 50px;
  padding: 0 15px;
  position: relative;
  max-width: 100%;
  height: auto;
}

@media (min-width: 780px) {
  .faq__all {
    flex-direction: row;
    align-items: flex-start;
    padding: 0 32px;
  }

  .faq__picture {
    margin: 0 auto;
  }
}

@media (min-width: 990px) {
  .faq__all {
    padding: 0 40px;
  }
}

@media (min-width: 1200px) {
  .faq__all {
    padding: 0 15px;
    margin: 0 40px;
  }
}