.wine-types {
    background-image: url(../images/index.section-inf.types-wine/background_wine_.jpg);
    background-size: cover;
    min-height: 881px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    padding-top: 110px;
    padding-bottom: 110px;
}
.wine-types__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
