.discount{
    background-image: url(../images/index.section-discount/personal-discount-photo.png);
    background-color: #c8693aed;
    background-size: cover; /* Cover entire container */
    background-position: center; /* Center the background */
    height: 50vh; /* Set height to full viewport height */
    display: flex; /* Add flex container to align items */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}
.discount__button{
    border: 2px solid #fffefe;
}