/* Блок 15 | Nataliia Zinchenko */

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prata&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --ui-dark-shade-color: #212736;
  --ui-brand-color: rgb(200, 105, 58);
}

body {
  background-color: var(--ui-dark-shade-color);
}

.awards__table {
  display: flex;
  flex-direction: column;
}

.awards__row {
  display: flex;
  margin-bottom: 20px;
}

.awards__cell {
  margin-right: 20px;
}

.awards__title {
  font-family: "Great Vibes", undefined;
  font-size: 28px;
  text-align: center;
  color: var(--ui-brand-color);
  padding: auto;
  font-weight: 400;
}

.awards__description {
  font-family: Prata, sans-serif;
  font-size: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: auto;
  margin-top: 1%;
  font-weight: 400;
}

.awards__divider {
  display: block;
  box-sizing: border-box;
  margin-top: -3%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 166;
  margin-bottom: 5%;
}

.awards__text {
  font-family: Rubik, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: auto;
  font-size: 18px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.awards__table {
  align-content: center;
  padding: auto;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.awards-table__logo {
  display: block;
  box-sizing: border-box;
  width: 114px;
  padding: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.award__name {
  font-family: Rubik, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  padding: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.award__year {
  font-family: Prata, serif;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  padding: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.award__desc {
  font-family: Rubik, sans-serif;
  color: rgb(137, 128, 130);
  font-size: 16px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  line-height: 25.6px;
  height: auto;
  box-sizing: border-box;
  padding: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.awards-table__row,
.awards-table__cell {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
} */
