.wine-section {
    display: flex;
    max-width: 45%; 
    max-height: 40%;
    margin-top: 100px;
    padding: 20px 0;
    justify-content: center;
    row-gap: 50px;
    column-gap: 24px;
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    
}

.wine-category {
    width: calc(50% - 20px); 
    margin: 10px; 
    background-size: cover;
    background-position: center;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-content: center;
    
}

.wine-category::before {
    content: "";
    display: block;
    
}

.wine-category:nth-child(odd) {
    background-image: url(../images/index.section-red-white-wine-card/red-wine-for-card.jpeg);
}

.wine-category:nth-child(even) {
    background-image: url(../images/index.section-red-white-wine-card/white-wine-for-card.jpeg);
}

.wine-category__title {
    font-size: 29px; 
    margin-top: 100px; 
    margin-left: 60px;
}

.wine-category__description,
.wine-category__button {
    margin-top: 10px; 
    margin-left: 60px;
}
.wine-category__button {
    max-width: 200px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .wine-section {
        flex-direction: column;
        align-items: center;
        min-height: 500px;
    }
    .wine-category {
        width: calc(100% - 20px); 
    }
    .wine-category__title {
        margin-top: 10px; 
    }
}


@media screen and (min-width: 2100px) {
    .wine-category {
        width: calc(25% - 20px); 
    }
}

.wine-category-line{
    margin-left: 60px;
}
