.timeline {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
}

.timeline__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline__image-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.timeline__image {
  width: 100%;
  height: auto;
  display: block;
  max-width: 1200px;
}

.timeline__entry {
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 25px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.timeline__date,
.timeline__title,
.timeline__description {
  width: 100%;
}

.timeline__date {
  font-size: 18px;
  margin-bottom: 10px;
}

.timeline__title {
  font-size: 22px;
}

.custom-divider {
  width: 15%;
  height: 2px;
  background-color: #c8693a;
  margin: 15px 0;
}

.timeline__description {
  font-size: 16px;
  color: #898082;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .timeline__entry {
    width: 100%;
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .timeline__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .timeline__entry {
    width: 45%;
  }
}

@media (min-width: 1024px) {
  .timeline__entry {
    width: 23%;
  }
}
