.confirm-age {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.confirm-age__show {
  display: block;
}

.confirm-age__no-scroll {
  overflow: hidden;
}

.confirm-age__form {
  text-align: center;
  padding: 80px 24px;
  max-width: 470px;
  background-color: var(--section-global-background-color);
  margin: auto;
}

.confirm-age__title {
  font-size: 34px;
  font-weight: 400;
  line-height: 44.2px;
  letter-spacing: -0.68px;
  margin-bottom: 30px;
}

.confirm-age__figure {
  width: 165px;
  height: auto;
  margin: auto;
}

.confirm-age__message {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.confirm-age__buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}

.confirm-age__button-yes {
  font: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  color: var(--text-bright-color);
  background-color: var(--button-filled-color);
  border-radius: 2px;
  border-style: none;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
}

.confirm-age__button-yes:hover {
  background-color: var(--button-filled-color-hover);
  transition: 0.5s;
}

.confirm-age__button-no {
  font: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  color: var(--text-bright-color);
  background-color: var(--section-global-background-color);
  border-color: var(--button-blank-color);
  border-radius: 2px;
  border-style: solid;
  padding: 15px 25px;
  cursor: pointer;
  text-decoration: none;
}

.confirm-age__button-no:hover {
  color: var(--section-global-background-color);
  background-color: var(--button-blank-color);
  transition: 0.5s;
}

@media (min-width: 767px) {
  .confirm-age__title {
    font-size: 41px;
    line-height: 53.3px;
    letter-spacing: -0.82px;
  }

  .confirm-age__form {
    max-width: 670px;
  }
}

@media (min-width: 991px) {
  .confirm-age__title {
    font-size: 48px;
    line-height: 62.4px;
    letter-spacing: -0.96px;
  }
}

@media (min-width: 1201px) {
  .confirm-age__form {
    max-width: 770px;
  }
}
