@import "global.css";
@import "control.css";
@import "index.capabilities.css";
@import "index.best-deals.css";
@import "index.section-faq.css";
@import "index.wine-selection.css";
@import "index.video-veritas.css";
@import "index.red-white-wines-card.css";
@import "index.section-awards.css";
@import "index-nav.information.css";
@import "index.section-inf.types-wine.css";
@import "index.winery-timeline.css";
@import "index.testimonials.css";
@import "confirm-age.css";
@import "not-allowed.css";
