.best-deals {
  padding-top: 90px;
  padding-bottom: 50px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  min-width: 320px;
}

.best-deals__information-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.best-deals__information-slogan {
  font-size: 34px;
  font-weight: 400;
  line-height: 44.2px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.best-deals__information-figure {
  width: 165px;
  height: auto;
  margin: auto;
}

.best-deals__information-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  margin-top: 20px;
  margin-bottom: 46px;
}

.best-deals__items {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.best-deals__item {
  width: 100%;
}

.best-deals__item-picture {
  margin-bottom: 10px;
}

.best-deals__item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-bright-color);
  text-decoration: none;
}

.best-deals__item-price {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 24px;
}

.best-deals__item-button {
  font: Rubik, sans-serif;
  font-size: 15px;
  font-weight: 7git00;
  line-height: 15px;
  letter-spacing: 0;
  color: var(--text-bright-color);
  background-color: var(--button-filled-color);
  border-color: var(--button-filled-color);
  border-radius: 2px;
  border-style: solid;
  padding: 15px 25px;
  cursor: pointer;
}

@media (min-width: 584px) {
  .best-deals__item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 848px) {
  .best-deals__item {
    width: calc((100% - 48px) / 3);
  }
}

@media (min-width: 1112px) {
  .best-deals__item {
    width: calc((100% - 72px) / 4);
  }
}
