/* Блок 15 | Nataliia Zinchenko */

.awards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

@media (min-width: 400px) {
  .awards__content {
    grid-template-columns: 1fr;
  }
}


.awards__table {
  display: flex;
  flex-direction: column;
}

.awards__row {
  display: flex;
  margin-bottom: 20px;
}

.awards__cell {
  margin-right: 20px;
}

.awards__title {
  font-family: "Great Vibes", undefined;
  font-size: 28px;
  text-align: center;
  color: var(--ui-brand-color);
  padding: auto;
  font-weight: 400;
}

.awards__description {
  font-family: Prata, sans-serif;
  font-size: 48px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: auto;
  font-weight: 400;
}

.awards__divider {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 200px;
  height: auto;
  margin: 0 auto 20px;
}

.awards__text {
  font-family: Rubik, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: auto;
  font-size: 18px;
}

.awards__table {
  align-content: center;
  padding: auto;
}

.awards__logo {
  display: block;
  box-sizing: border-box;
  width: 114px;
  padding: auto;
}

.award__name {
  font-family: Rubik, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  padding: auto;
}

.award__year {
  font-family: Prata, serif;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  padding: auto;
}

.award__desc {
  font-family: Rubik, sans-serif;
  color: rgb(137, 128, 130);
  font-size: 16px;
  font-weight: 400;
  overflow-wrap: break-word;
  text-align: left;
  line-height: 25.6px;
  height: auto;
  box-sizing: border-box;
  padding: auto;
}