body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .image {
    width: 300px;
    margin-right: 20px;
  }
  
  .content {
    flex: 1;
  }
  
.information-card {
    background-color: #261e1c;
    padding: 20px;
    text-align: center;
}

.card__prescription{
    font-size: 30px;
}

.card__logo {
    display: block;
    margin: auto;
    width: 100%;
    padding: 15px;
}

.card__image {
    width: 100%;
    float: left; 
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

p {
    color: #898082;
    padding: 20px;
}

.card__title {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

.card__description {
    color: white;
    text-align: center;
    font-size: 20px;
}

h3 {
    padding: 10px;
    font-size: 25px;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.first-block{
    text-align: left;
}

.second-block {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .card__logo {
        width: 200px; 
    }

    .card__image {
        width: 30%; 
        padding-left: 20px;
        padding-right: 20px;
    }
}