.video{
    background-image: url(../images/index.section-video/video-veritas-photo.png);
    background-size: cover; /* Cover entire container */
    background-position: center; /* Center the background */
    height: 100vh; /* Set height to full viewport height */
    display: flex; /* Add flex container to align items */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    position: relative;

}

.video__logo-image {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
}
.video{
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start ; /* Вирівнюємо елементи по лівому краю */
    padding: 0 24px;
}

.video__title {
    font-size: 50px ;
}
.video__subtitle{
    font-size: 70px;
}
.video__description{
    font-size: 20px;
}