.not-allowed {
  min-width: 320px;
  padding: 150px 24px;
  background-color: var(--section-global-background-color);
}

.not-allowed__container {
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
}

.not-allowed__title {
  font-size: 58px;
  font-weight: 400;
  line-height: 69.6px;
  margin-bottom: 30px;
}

.not-allowed__figure {
  width: 165px;
  height: auto;
  margin: auto;
}

.not-allowed__message {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-dark-color);
  line-height: 25.6px;
  margin-top: 25px;
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  .not-allowed__title {
    font-size: 71px;
    line-height: 85.2px;
  }

  .not-allowed {
    padding-top: 237.5px;
    padding-bottom: 232.5px;
  }
}

@media (min-width: 991px) {
  .not-allowed__title {
    font-size: 84px;
    line-height: 100.8px;
  }

  .not-allowed {
    padding-top: 325px;
    padding-bottom: 315px;
  }
}