<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="images/header/favicon_32.png"
      sizes="32x32"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <!--blok 1 | Simkovsky--->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common.header.partial.html"
      ></nav>
    </header>
    <!--blok 1 end |Simkovsky--->

    <main>
      <!-- Khrystyna Vehera section after header -->
      <section
        data-hx-trigger="load"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index-nav.information.html"
      ></section>
      <!-- Khrystyna Vehera section after header -->

      <!-- Block 3 start | Serhii Zamorii-->
      <!-- Block 3 start | Serhii Zamorii-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.capabilities.partial.html"
      ></section>
      <!-- Block 3 end | Serhii Zamorii-->

      <!-- Block 4 end | Vitaliy Verhochub-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.information-card.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.information-card.partial.html"
      ></section>
      <!-- Block 4 end | Vitaliy Verhochub-->

      <!--Блок 5 Oleh Soltysyak -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-wine-buying-guide.html"
      ></section>
      <!--Блок 5 Oleh Soltysyak -->

      <!-- Valko Block 6 -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-wine-selection.partial.html"
      ></section>
      <!-- Valko Block 6 -->

      <!-- Block 7 start | Serhii Zamorii-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        F
        data-hx-get="index.best-deals.partial.html"
      ></section>
      <!-- Block 7 end | Serhii Zamorii-->

      <!--Блок 8 | Nazar Tiushka -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-winery-timeline-partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-winery-timeline-partial.html"
      ></section>
      <!--Блок 8 | Nazar Tiushka -->

      <!-- Khrystyna Vehera section 9 -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-inf.types-wine.html"
      ></section>
      <!-- Khrystyna Vehera section 9 -->

      <!--Блок 10 | Nazar Tiushka -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-testimonials-partial.html"
      ></section>
      <!--Блок 10 | Nazar Tiushka -->

      <!-- Блок 11  Volodymyr Viienko -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.faq.partial.html"
      ></section>
      <!--  Volodymyr Viienko -->

      <!--Блок 12 | Nataliia Zinchenko-->
      <section></section>
      <section></section>
      <!--Блок 12 | Nataliia Zinchenko-->

      <!--Блок 13 Dmytro Vasylyshyn Freym-14 2 cards red and white winess with linc to shop red and white wines and section with personal dicount and frame 13-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-video-veritas.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-red-white-wines-card.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-personal-discount.partial.html"
      ></section>
      <!--Блок 13 Dmytro Vasylyshyn-->

      <!--Блок 14 Stesiuk Liubomyr -->
      <section></section>
      <section></section>
      <!--Блок 14 Stesiuk Liubomyr-->

      <!--Блок 15 | Nataliia Zinchenko-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-awards.html"
      ></section>
      <!--/Блок 15 | Nataliia Zinchenko-->

      <!--Блок 16 Dmytro Vasylyshyn-->
      <section></section>
      <section></section>
      <!--Блок 16 Dmytro Vasylyshyn -->

      <!--Блок 17 -->
      <section></section>
      <section></section>
      <!--Блок 17 -->

      <!--Блок 18 -->
      <section></section>
      <section></section>
      <!--Блок 18 -->

      <!--Блок 19 | Simkovsky--->
      <footer class="footer">
        <section
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="common.footer.partial.html"
        ></section>
      </footer>
      <!--Блок 19 end | Simkovsky--->
    </main>
  </body>
</html>
