<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="pic/header-pic/favicon_32.png"
      sizes="32x32"
    />
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Simkovsky--->
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common.header-nav.partial.html"
      ></nav>
    </header>
    <!--Simkovsky--->

    <!-- Valko -->
    <main>
      <!-- Oleh Soltysyak -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="wine-buying-guide-partial.html"
      ></section>
      <!-- Oleh Soltysyak -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common.main.wine-selection.partial.html"
      ></section>
      <!-- Блок 11  Volodymyr Viienko -->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-faq.partial.html"
      ></section>
      <!-- Блок 11 Volodymyr Viienko -->


      <!--Dmytro Vasylyshyn Freym-14 2 cards red and white winess with linc to shop red and white wines and section with personal dicount-->
      <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.section-red-white-wines-card.partial.html"
      ></section>
      
      <section
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="index.section-personal-discount.partial.html"
      ></section>
      <!---->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="winery-timeline-partial.html"
      ></section>
      <!--Блок 8 | Nazar Tiushka -->
    </main>
    <!-- Valko -->
  </body>
</html>
